:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}
@import url('https://fonts.google.com/specimen/Big+Shoulders+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    height: 500px;
    margin-left: 15rem;
    margin-top: 5rem;
}

img {
    padding: 50px 0 40px 50px;
}

p{
    width: 250px;
    font-family: "Lexend Deca", sans-serif;
    padding-left: 50px;
    padding-bottom: 70px;
    color: white;
    word-spacing: 5px;
    line-height: 21px;
    font-size: 15px;
}
.learn-more {
    padding-left: 50px;
}

button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.sedan-btn {
    background-color: white;
    color: var(--bright-orange);
    border: 1px solid white;
}

.sedan-btn:hover {
    background-color: var(--bright-orange);
    color: white;
}

.suv-btn {
    background-color: white;
    color: var(--dark-cyan);
    border: 1px solid white;
}

.suv-btn:hover {
    background-color: var(--dark-cyan);
    color: white;
}

.luxury-btn {
    background-color: white;
    color: var(--very-dark-cyan);
    border: 1px solid white;
}

.luxury-btn:hover {
    color: white;
    background-color: var(--very-dark-cyan);
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    padding-left: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;
    color: white;
}
.sedan {
    width: 320px;
    background-color: var(--bright-orange);
}

.suv {
    width: 320px;
    background-color: var(--dark-cyan);
}

.luxury {
    width: 320px;
    background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 375px) {
    
    .card-container { display: block; margin-top: 20px; margin-left: 30px;}
    .learn-more { padding-bottom: 20px;}
}

@media screen and (max-width: 768px) {
    .card-container { margin-top: 10px; margin-left: 10px;}
}